<div>
    <h2>
        <span jhiTranslate="festisApp.festival.home.title">Festivals</span>
        <button class="btn btn-primary float-right jh-create-entity create-festival" [routerLink]="['/', { outlets: { popup: ['festival-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="festisApp.festival.home.createLabel">
            Create new Festival
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="festivals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="festisApp.festival.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="web"><span jhiTranslate="festisApp.festival.web">Web</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="facebook"><span jhiTranslate="festisApp.festival.facebook">Facebook</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="twitter"><span jhiTranslate="festisApp.festival.twitter">Twitter</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="instagram"><span jhiTranslate="festisApp.festival.instagram">Instagram</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="youtube"><span jhiTranslate="festisApp.festival.youtube">Youtube</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let festival of festivals ;trackBy: trackId">
                <td><a [routerLink]="['../festival', festival.id ]">{{festival.id}}</a></td>
                <td>{{festival.name}}</td>
                <td>{{festival.web}}</td>
                <td>{{festival.facebook}}</td>
                <td>{{festival.twitter}}</td>
                <td>{{festival.instagram}}</td>
                <td>{{festival.youtube}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../festival', festival.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'festival/'+ festival.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'festival/'+ festival.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
